ORIGIN='http://localhost:3000'
SECRET_KEY=
SALT=
JWT_KEY=
JWT_ALGO='HS512'
JWT_ISS='Invoice Categorization'
JWT_TIMEOUT='3600'
TEMP_FILE_LOCATION='files'
AWS_API_KEY=
AWS_API_SECRET=
AWS_USER_TABLE_NAME='treya-users'
AWS_FILE_TABLE_NAME='treya-files'
AWS_S3_UPLOAD_NAME='invoice-categorization-upload'
AWS_S3_PROCESSED_NAME='invoice-categorization-processed'
AWS_ROLE_ARN=
AWS_MODEL_ID='anthropic.claude-3-haiku-20240307-v1:0'
MODEL_DOWNLOAD_PATH='./download'
MODEL_UPLOAD_PATH='./upload'
CHUNK_SIZE='4000000'
DEBUG='True'
DISABLE='False'
