ORIGIN='http://localhost:3000'
SECRET_KEY=
JWT_KEY=
JWT_ALGO='HS512'
JWT_ISS='Invoice Categorization'
JWT_TIMEOUT='3600'
AWS_API_KEY=
AWS_API_SECRET=
AWS_USER_TABLE_NAME=
AWS_FILE_TABLE_NAME=
AWS_S3_UPLOAD_NAME=
AWS_S3_PROCESSED_NAME=
MODEL_DOWNLOAD_PATH='./download'
MODEL_UPLOAD_PATH='./upload'
CHUNK_SIZE='4000000'
DEBUG='True'
